#contact-page{
    padding-top: 50px;
    overflow-x: hidden;
}
.container{
    padding-left: 300px;
    padding-right: 300px;
}
.header{
    align-items: center;
}
.co-me{
    font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 20px;
      letter-spacing: -0.02em;
      color: #101828;
}
.sub{
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #475467;
}
.form-section{
    width: 100%;
    margin-top: 50px;
}
.form-inline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.firstname, .lastname{
    display: flex;
    flex-direction: column;
    width: 49%;
    gap: 2;
    margin-bottom: 30px;
}
.firstname-label{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    margin-bottom: 4px;
}
.firstname-input{
     box-sizing: border-box;
     padding: 10px 14px;
     outline-color: cadetblue;
     background: #ffffff;
     border: 1px solid #d0d5dd;
     box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
     border-radius: 5px;
}
.lastname-label{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    margin-bottom: 4px;
}
.lastname-input{
     box-sizing: border-box;
     padding: 10px 14px;
     background: #ffffff;
     outline-color: cadetblue;
     border: 1px solid #d0d5dd;
     box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
     border-radius: 5px;
}
.email, .message{
    display: flex;
    flex-direction: column;
}
.email-label{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    margin-bottom: 4px;
}
.email-input{
     box-sizing: border-box;
     padding: 10px 14px;
     background: #ffffff;
     outline-color: cadetblue;
     border: 1px solid #d0d5dd;
     box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
     border-radius: 5px;
     margin-bottom: 30px;
}
.message-label{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    margin-bottom: 4px;
}
textarea {
    box-sizing: border-box;
    padding: 10px 14px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    outline-color: cadetblue;
  }
  textarea::placeholder {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #667085;
  }

  .checkbox {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 15px;
  }
    .span {
      margin-left: 10px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #475467;
    }
    .submit {
        font-family: "Inter";
        font-weight: 500;
        font-size: 13px;
        margin-top: 50px;
        box-sizing: border-box;
        justify-content: center;
        padding: 12px 20px;
        width: 100%;
        background: #1570ef;
        border: none;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 5px;
        cursor: pointer;
        line-height: 15px;
        color: #ffffff;
      }
      .submit:hover{
        background-color: #68A1EF;
      }
      .submit:active{
        transform: scale(0.98);
      }
      .r1{
        display: none;
      }
      .r2{
        display: none;
      }
      .col{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
      }
      @media only screen and (max-width: 1200px){
        .main-footer{
            color:dimgrey;
            padding-top: 3rem;
            position: relative;
            width: 100%;
            bottom: 20px;
        }
        .col{
           display: -webkit-box;
           
        }
      }

      @media only screen and (max-width: 700px){

        #contact-page{
            padding-top: 20px;
            overflow-x: hidden;
        }
        .container{
            padding-left: 20px;
            padding-right: 20px;
        }
        .co-me{
              font-size: 30px;
              line-height: 20px;
              letter-spacing: -0.02em;
        }
        .sub{
              font-size: 15px;
              line-height: 30px;
              margin-left: 12px;
        }
        .form-section{
           margin-left: 10px;
        }
        .form-inline{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .firstname, .lastname{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 20px;
        }
        .checkbox {
            width: 100%;
            height: 10px;
          }
            .span {
              font-size: 10px;
              line-height: 20px;
              color: #475467;
            }
            .main-footer{
                padding-top: 3rem;
              } 
              .col{
                display: block;
              }
              .row{
                margin-bottom: 80px;
                margin-left: 150px;
              }
              .para{
                font-size: 12px;
                margin-left: 30px;
              }
              .col2{
                margin-left: 28px;
              }
   }
